nav {
    /*background:#71291d;*/
    background:#C87533;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
}

.page_link {
    color: #851C21 !important;
}

#footer {
    background-color:#C87533;
}

#cover {

    height: 100vh;

    background: url("/img/Home.png") no-repeat center center fixed;
    background-size: auto 60%;
    -webkit-background-size: auto 60%;
    -moz-background-size: auto 60%;
    -o-background-size: auto 60%;
}

.orange_icon{
    color: #FBC557;
}

/*.thumbnail_container {*/
    /*position: absolute;*/
    /*height: 100%;*/
    /*/!*padding: 50% 50%*!/*/
    /*/!*padding-bottom: 100%;*!/*/
    /*/!*float:left;*!/*/
    /*vertical-align: middle;*/
/*}*/

/*.thumbnail {*/
    /*position:relative;*/
    /*width:100%;*/
    /*height:100%;*/
    /*background-size: 100% 100%;*/
    /*-webkit-background-size: 100% 100%;*/
    /*-moz-background-size: 100% 100%;*/
    /*-o-background-size: 100% 100%;*/
    /*background: url("/img/Home.png") no-repeat fixed 50% 50%;*/
/*}*/

/*.thumbnail img {*/
    /*position: relative;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
/*}*/

input[type="text"] {
    margin: 0 auto 1em auto;
}

/* ----- Mobile (Portrait) ----- */
@media only screen and (max-width: 767px) {
    #cover {
        -webkit-background-size: auto 60%;
        -moz-background-size: auto 60%;
        -o-background-size: auto 60%;
        background-size: auto 60%;
    }
    nav {
      font-size: 1em;
    }
}

/* ----- Mobile (Landscape) -- 480px ----- */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #cover {
        -webkit-background-size: 45% auto;
        -moz-background-size: 45% auto;
        -o-background-size: 45% auto;
        background-size: 45% auto;
    }
    nav {
      font-size: 1em;
    }
}

