nav {
    /*background:#71291d;*/
    background:#C87533;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
}

.page_link {
    color: #851C21 !important;
}

#footer {
    background-color:#C87533;
}

#home {
    height: 100vh;
    background: url("/img/Home.png") no-repeat center center fixed;
    background-size: auto 60%;
    -webkit-background-size: auto 60%;
    -moz-background-size: auto 60%;
    -o-background-size: auto 60%;
}

#home_logo {
    display: none;
}

.registry_logo {
    width: 25%
}

/*.thumbnail_container {*/
    /*position: absolute;*/
    /*height: 100%;*/
    /*/!*padding: 50% 50%*!/*/
    /*/!*padding-bottom: 100%;*!/*/
    /*/!*float:left;*!/*/
    /*vertical-align: middle;*/
/*}*/

/*.thumbnail {*/
    /*position:relative;*/
    /*width:100%;*/
    /*height:100%;*/
    /*/!*background-size: 100% 100%;*!/*/
    /*/!*-webkit-background-size: 100% 100%;*!/*/
    /*/!*-moz-background-size: 100% 100%;*!/*/
    /*/!*-o-background-size: 100% 100%;*!/*/
    /*/!*background: url("/img/Home.png") no-repeat fixed 50% 50%;*!/*/
/*}*/

/*.thumbnail img {*/
    /*position: relative;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
/*}*/

label {
    font-family: 'Amatic SC', cursive;
}

input[type="text"] {
    margin: 0 auto 1em auto;
}
input[type=submit] {
    font-size: 20px;
}
textarea {
    margin: 0 auto 1em auto;
}

/* anything not desktop */
@media only screen and (max-width: 767px) {
    #home_logo {
        display: block;
        width: 75%;
        height: auto;
        vertical-align: middle;
        margin: auto;
    }
    #home {
        background: none;
    }
}

/* ----- Mobile (Portrait) ----- */
@media only screen and (max-width: 767px) {
    nav {
      font-size: 1em;
    }

    #home_logo {
        display: block;
        width: 75%;
        height: auto;
        vertical-align: middle;
        margin: auto;
    }
    #home {
        background: none;
    }
}

/* ----- Mobile (Landscape) -- 480px ----- */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    nav {
      font-size: 1em;
    }

    #home_logo {
        display: block;
        width: 45%;
        height: auto;
        vertical-align: middle;
        margin: auto;
    }
    #home {
        background: none;
    }
}


